.homepage, .header {
    font-family: 'Montagu Slab', serif;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
  }  

.full-page-component {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  